.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 1rem;
  padding-bottom: 90px;
}

@media only screen and (max-width: 900px) {
  .main {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 650px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 400px) {
  .main {
    grid-template-columns: 1fr;
  }
}

.button {
  background-color: #ffcd00;
  border: none;
  border-radius: 10px;
  color: #2d2926;
  padding: 20px 44px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.disabledButton {
  opacity: 0.5;
  background-color: #ffcd00;
  border: none;
  border-radius: 10px;
  color: #2d2926;
  padding: 20px 44px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: not-allowed;
  font-family: inherit;
}

.buttonLocation {
  background-color: white;
  position: fixed;
  bottom: 0;
  padding: 10px;
  width: 100%;
}

.welcome {
  font-size: 30px;
  color: #2d2926;
  background-color: white;
  padding: 10px;
  text-align: center;
}

.status {
  font-size: 16px;
  color: #2d2926;
  padding: 20px;
  text-align: center;
}